@import url(http://fonts.googleapis.com/css?family=Lato:400,700);
@import url('https://fonts.googleapis.com/css?family=Abril+Fatface|Playfair+Display');

*,
*:after,
*:before {
	box-sizing: border-box;
}

body,
html {
	font-size: 100%;
	margin: 0;
	padding: 0;
}

/* Helper classes */
.cf:before,
.cf:after {
	content: ' ';
	display: table;
}

.cf:after {
	clear: both;
}

.hidden {
	position: absolute;
	opacity: 0;
	pointer-events: none;
}

/* Main styles */
body {
	font-family: 'Lato', Calibri, Arial, sans-serif;
	color: #6d6d6d;
	background: #f4f4f4;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

a {
	text-decoration: none;
	color: #f0f0f0;
	outline: none;
}

a:hover {
	color: #516977;
}
